.ex-container {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    padding: 5px 0;
    z-index: 999;
    }

.linting-ex {
    background-color: #FFF;
    padding: 10px 10px 10px 26px;
    }

    .linting-ex.__warning {
        background: #ffb600 url(/source/assets/i/lint-warn.png) no-repeat 12px 8px;
        color: #630;
        }

    .linting-ex.__error {
        background: #f40 url(/source/assets/i/lint-err.png) no-repeat 12px 8px;
        color: #fdd;
        }

    .linting-ex .ex-name {
        padding-left: 10px;
        display: inline;
        font-size: 14px;
        line-height: 1.1;
        font-weight: bold;
        }

        .linting-ex.__warning .ex-name {
            color: #000;
            }

        .linting-ex.__error .ex-name {
            color: #fff;
            }

